.srt-back-to-top {
  position: fixed;
  bottom: 30px;

  width: 50px;
  height: 50px;

  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;
  font-weight: bold;

  cursor: pointer;
  z-index: 999999;

  opacity: 0;
  transform: translateY(20px);
  transition: all 0.3s ease;

  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* LEFT POSITION */
.srt-back-to-top.left {
  left: 30px;
  right: auto;
}

/* RIGHT POSITION */
.srt-back-to-top.right {
  right: 30px;
  left: auto;
}

/* SHOW STATE */
.srt-back-to-top.show {
  opacity: 1;
  transform: translateY(0);
}

/* HOVER EFFECT */
.srt-back-to-top:hover {
  transform: translateY(-4px);
}
