{% assign settings = shop.metafields.store_enhancer.sticky_settings.value %}

{% if settings %}
  <div
    id="sticky-add-to-cart-settings"
    data-settings='{{ settings | json | escape }}'
    style="display:none">
  </div>

  {{ 'sticky-add-to-cart.css' | asset_url | stylesheet_tag }}

  <script src="{{ 'sticky-add-to-cart.js' | asset_url }}" defer></script>

{% endif %}

{% schema %}
{
  "name": "Sticky Add To Cart",
  "target": "section",
  "settings": []
}
{% endschema %}